html{
  height: 100%;
}
body{
  min-height: 100%;
}
html {
  background: black url(../imgs/cavepeople.jpg) no-repeat center center fixed;
  background-size: cover;
}

@font-face {
  font-family: "DigitalTime";
  font-weight: bold;
  src: url(../fonts/DS-DIGI.TTF) format("truetype");
}

#table {
  display: table;
}

#table_row {
  display: table-row;
}

.time_button {
  display: table-cell;

  background-color: black;
  text-align: center;
  border-radius: 10px;
  opacity: .9;
}

.time_button h3 {
  color: white;
  font-size: 15px;
  margin: 10px;
}

#container {
  align-items: center;
  margin: 0 auto;
}

#digital_time {
  position: absolute;
  left: 32.5%;
  background-color: black;
  text-align: center;
  border-radius: 10px;
  width: 35%;
  opacity: .9;
}

#time {
  font-family: "DigitalTime", Verdana;
  font-size: 200px;
  color: white;
  margin: 0;
}

#time_slider{
  position: absolute;
  left: 32.5%;
  width: 35%;
  background-color: black;
}
